
<div class="row">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <h1><%= @project.name %></h1>
    <div class="well">
      <h1>Add a Bug</h1>

      <%= form_for :projects, :url => { :action => "create_story" } do |f| %>
        <div class="form-group">
          <%= f.label :short_description %>: <%= f.text_field :short_description, class: 'form-control', :required => true %>
        </div>
        <div class="form-group">
          <%= f.label :long_description %>: <%= f.text_area :long_description, :rows => 5, class: 'form-control', :required => true  %><br />
        </div>
        <div class="form-group">
          <%= f.label :reported_by %>: <%= select_tag(:reported_by, options_for_select(
            [
              ["Shanna"], ["Christine"], ["Jay"], ["Deniece"], ["Other"]
            ])) %>
        </div>
        <div class="form-group">
          <%= f.label :labels %>: <%= f.text_field :labels, class: 'form-control', :required => true %>
           <p class="help-block">Ex: drag-and-drop, design, etc.</p>
        </div>
        <div class="form-group">
          <%= f.label :image %>:
          <%= f.file_field :image %>
        </div>

        <div class="form-group">
          <%= f.label :url %>: <%= f.text_field :url, class: 'form-control' %>
        </div>

      <%= f.submit "Add Bug" %>
      </p>
        <% end %>
    </div>
</div>

<!-- SHOW BUGS AND FEATURES
  <div class="row">
    <h1>Bugs</h1>
      <div class="col-sm-3">
          <ul>
            <h2>In Progress</h2>
            <% @project.stories(filter: 'story_type:bug, current_state:started').each do |story| %>
              <%= render partial: "showBug", :locals => { :story => story } %>
            <% end %>
        </ul>
    </div>
    <div class="col-sm-3">
        <ul>
          <h2>Not Started</h2>
          <% @project.stories(filter: 'story_type:bug, current_state:unscheduled').each do |story| %>
            <%= render partial: "showBug", :locals => { :story => story } %>
          <% end %>
      </ul>
  </div>
  <div class="col-sm-3">
      <ul>
        <h2>Need Testing</h2>
      <% @project.stories(filter: 'story_type:bug, current_state:delivered').each do |story| %>
        <%= render partial: "showBug", :locals => { :story => story } %>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-3">
      <ul>
        <h2>Accepted</h2>
      <% @project.stories(filter: 'story_type:bug, current_state:accepted').each do |story| %>
        <%= render partial: "showBug", :locals => { :story => story } %>
      <% end %>
    </ul>
  </div>
  </div>
</div>
<h1>Features</h1>
<% @project.stories(filter: 'story_type:feature').each do |story| %>
      <%= story.story_type %>
      <%= story.name %>
      <%= story.description %>
      <%= story.current_state %>
<% end %>

-->

<!-- Trigger the modal with a button
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

<!-- Modal
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div> -->
