<h1><%= @project.name %></h1>
<div class="container">
<div class="row">
<h1>Add a Bug</h1>

<%= form_for :projects, :url => { :action => "create_story" } do |f| %>
  <div class="form-group">
    <%= f.label :short_description %>: <%= f.text_field :short_description, class: 'form-control', :required => true %>
  </div>
  <div class="form-group">
    <%= f.label :long_description %>: <%= f.text_area :long_description, :rows => 5, class: 'form-control', :required => true  %><br />
  </div>
  <div class="form-group">
    <%= f.label :reported_by %>: <%= select_tag(:reported_by, options_for_select(
      [
        ["Shanna"], ["Christine"], ["Jay"], ["Deniece"]
      ])) %>
  </div>
  <%= f.file_field :picture %>
  <div class="form-group">
    <%= f.label :url %>: <%= f.text_field :url, class: 'form-control', :required => true %>
  </div>

<%= f.submit "Add Bug" %>
</p>
  <% end %>
</div>


  <div class="row">
    <h1>Bugs</h1>
      <div class="col-sm-3">
          <ul>
            <h2>In Progress</h2>
          <% @project.stories(filter: 'story_type:bug, current_state:started').each do |story| %>
            <li>
                <%= story.story_type %>
                <%= story.name %>
                <%= story.description %>
                <%= story.current_state %>
              </li>
          <% end %>
        </ul>
    </div>
    <div class="col-sm-3">
        <ul>
          <h2>Not Started</h2>
        <% @project.stories(filter: 'story_type:bug, current_state:unscheduled').each do |story| %>
          <li>
              <%= story.story_type %>
              <%= story.name %>
              <%= story.description %>
              <%= story.current_state %>
            </li>
        <% end %>
      </ul>
  </div>
  <div class="col-sm-3">
      <ul>
        <h2>Need Testing</h2>
      <% @project.stories(filter: 'story_type:bug, current_state:delivered').each do |story| %>
        <li>
            <%= story.story_type %>
            <%= story.name %>
            <%= story.description %>
            <%= story.current_state %>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-3">
      <ul>
        <h2>Accepted</h2>
      <% @project.stories(filter: 'story_type:bug, current_state:accepted').each do |story| %>
        <li>
            <%= story.story_type %>
            <%= story.name %>
            <%= story.description %>
            <%= story.current_state %>
          </li>
      <% end %>
    </ul>
  </div>
  </div>
</div>
<h1>Features</h1>
<% @project.stories(filter: 'story_type:feature').each do |story| %>
      <%= story.story_type %>
      <%= story.name %>
      <%= story.description %>
      <%= story.current_state %>
<% end %>
